@model Fish.Models.TaiwanFish

@{
    ViewBag.Title = "Details";
}

<h2>檢視</h2>

<div>
    <h4>台灣魚類</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taiwan_Distribution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taiwan_Distribution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habitat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_body_length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_body_length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image_Path)
        </dt>

        <dd>
            <img src=@Html.DisplayFor(model => model.Image_Path) width="200" heigh="100" alt="魚類圖片">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回首頁", "Index")
</p>
